//@import "compass/css3";


@import "vars/colors";
@import "vars/config";
@import "mixins/constructor";
@import "extends/contstructor";
@import "framework/contstructor";
@import "typography/constructor";
@import "components/dashboard/constructor";
@import "components/project-list/constructor";
@import "components/view/constructor";
@import "components/date-time/constructor";


.btn-container{
  width: 40%;
  min-width: 20vh;
  margin: 0 auto;
  margin-top: 8vw;
  >img{
     path {
      fill: #ff0000;
    }
  }
  h2{
    color: $kontrast;
    padding: 1rem;
    text-align: center;
    font-size: 2em;
  }
}

body {
  padding: 0px;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
  list-style-type: none;
    margin:4px;
}

li {
  margin-bottom: 1px;
  padding: 8px;
}


%message-badge{
  display: block;
  position: absolute;
  top: 0.7em;
  right: 0.7em;
  content: "";
  font-size: 2.5vh;
  font-weight: bold;
  color: $dark;
  min-width: 12%;
  text-align: center;
  padding: 0.2em;
  text-transform: uppercase;
}

.message-badge {
  @extend %message-badge;
  background-color: cyan;
}

.dev:after {
  @extend %message-badge;
  content: "fail";
  background-color: $fail-color;
}

.fail:after {
  @extend %message-badge;
  content: "fail";
  background-color: $fail-color;
}

.success:after {
  @extend %message-badge;
  content : "success";
  background-color: $success-color;
}

.in-progress {
  &:after {
    @extend %message-badge;
    content : "in progress";
    background-color: $in-progress-color;
  }
}

.build-fail {
  &:after {
    @extend %message-badge;
    content: attr(data-builder);
    background-color: $fail-color;
  }
}

.build-success {
  &:after {
    @extend %message-badge;
    content: attr(data-builder);
    background-color: $success-color;
  }
}

.blink:after {
  background-color: transparent;
  color: transparent;
}
