section(id='{{ pageId }}' class='{{ pageClass }}')

  nav
    ul(class="project-list")

script.
  if (typeof BuildStatus !== 'object') {
    BuildStatus.prototype = Main;
    var BuildStatus = new BuildStatus();
  } else {
    BuildStatus.init();
  }
