main(id='{{ pageId }}' class='{{ pageClass }}')
  section(class="dash-projects")
  
    
        
    div(class="head-line")
      div(class="line")
      h1 Builds
      div(class="line")
    
    div(class="dash-proj dash-segment")
      div(class="p-success dash-stat")
        h1 0
        h3 success
      div(class="p-fail dash-stat")
        h1 0
        h3 fail
        
    div(class="head-line")
      div(class="line")
      h1 Latest build
      div(class="line")
    
    div(class="dash-latest dash-segment")
      div(class="l-date dash-stat")
        h1
        h3
        h4
      div(class="l-description")

    div(class="head-line")
      div(class="line")
      h1 Time since last failed build
      div(class="line")
    
    div(class="count-up dash-segment")
      div(class="count")
        div(class="dash-stat")
          h1(id="f_weeks") 0
          h3 weeks
          
        div(class="dash-stat")
          h1(id="f_days") 0
          h3 days
          
        div(class="dash-stat")
          h1(id="f_hours") 0
          h3 hours
          
        div(class="dash-stat")
          h1(id="f_minutes") 0
          h3 minutes
      
      div(class="failer")
        span(class="flag-l")
          svg(viewBox="0 0 50 32")
            polygon(points="0,0 50,0 50,32 0,32 12,16 ")
        
        span(class="name") 
          
        span(class="flag-r")
          svg(viewBox="0 0 50 32")
            polygon(points="0,0 50,0 38,16 50,32 0,32  ")
    
    div(class="head-line")
      div(class="line")
   
    footer
      div(class="logo")
        
       
      
    
    button#success success
    button#error error
    button#loading loading
    button#stop stop
    
script.
  if (typeof Dashboard !== 'object') {
    Dashboard.prototype = Main;
    var Dashboard = new Dashboard();
  } else {
    Dashboard.init();
  }
    
