section(id='{{ pageId }}' class='{{ pageClass }}')

  header(class='hidden')
    div(class='head-line')
      div(class='line')
      h1
      div(class='line')
        
    div(class='head-description')
      h3
        
  div(class="hidden btn-container")
    img(src="../images/press-the-button.svg")
    h2 DEPLOY
        
  nav
    ul(id='environments' class='hidden project-list')
    
script(src='javascripts/pages/environments.js')
