h1 PROJECTS

p Build statuses Team City

ul#build-statuses
  li SR.DeployerServices is not running.

p Octopus Projects

ul#projects
  li SR.DeployerServices is not running.

script(src='javascripts/projects.js')
