h1 PROJECTS

p Build statuses Team City

blink
  h2#build-destroyer

ul#build-statuses
  li SR.DeployerServices is not running.

p Octopus Projects

ul#projects
  li SR.DeployerServices is not running.


button#success success
button#error error
button#loading loading
button#stop stop