section(id='{{ pageId }}' class='{{ pageClass }}')
  
  nav(id='projects')
    ul(class='project-list')
    
script.
  if (typeof Projects !== 'object') {
    Projects.prototype = Main;
    var Projects = new Projects();
  } else {
    Projects.init();
  }
