*.log
npm-debug.log

.settings/
static/.sass-cache/
node_modules/
typings/

static/javascripts/script.js
static/javascripts/script.min.js

.idea/

script.js
script.min.js

*.DS_Store
*.swp
*.codekit
*.rb
*.tmp
