*.log
npm-debug.log

.settings/
public/.sass-cache/
node_modules/
typings/

public/javascripts/script.js
public/javascripts/script.min.js

.idea/

script.js
script.min.js

*.DS_Store
*.swp
*.codekit
*.rb
*.tmp
