

$fail-color:#f72350;
$success-color: #67cb67;
$in-progress-color: #33CCFF;
$fail-badge-text-color:#ffffff;
$success-badge-text-color:#ffffff;
$fail-color2: #c8213e;

$dark:#333333;
$theme:#574f55;
$theme2:#ed677a;
$kontrast :#ffffff;

$background-color:$theme;

$light: rgba(255,255,255,0.8);

$font-color:$dark;
$font-color-inverted: $theme;

$list-bg-color:$dark;
$list-text-color:$kontrast;
$list-small-text-color:$theme;

$selected-list-bg-color:$theme;
$selected-list-text-color:$kontrast;



$fail-page-bg-color:$fail-color;




$fail-list-bg-color:$theme;
$fail-list-text-color:$fail-color;
$fail-list-small-text-color:$kontrast;

$fail-selected-list-bg-color:$fail-color;
$fail-selected-list-text-color:$kontrast;;


$clock-color:$kontrast;
$clock-sec-color:$theme2;


$project-background-color:$dark;
$project-list-bg-color:$theme;
$project-list-text-color:$kontrast;;
$project-list-small-text-color:$dark;

$project-selected-list-bg-color:$dark;
$project-selected-list-text-color:$kontrast;;
