extends layout

block content
  h1= title
  
  p Build statuses Team City
  
  ul#build-statuses
    li SR.DeployerServices is not running.
  
  p Octopus Projects

  ul#projects
    li SR.DeployerServices is not running.
  
  



