$dropshadow_color : rgba(0,0,0,0.2) !default;

%dropshadow_1{
  box-shadow : 0px 1px 6px 0px $dropshadow_color;
}

%dropshadow_2{
  box-shadow : 0px 6px 12px 0px $dropshadow_color;
}

%dropshadow_3{
  box-shadow : 0px 12px 24px 0px $dropshadow_color;
}

%dropshadow_4{
 box-shadow : 0px 24px 48px 0px $dropshadow_color;
}


%insetshadow_1{
  box-shadow : 0px 1px 6px 0px $dropshadow_color;
}

%dropshadow_2{
  box-shadow : 0px 6px 12px 0px $dropshadow_color;
}

%dropshadow_3{
  box-shadow : 0px 12px 24px 0px $dropshadow_color;
}

%dropshadow_4{
  box-shadow : 0px 24px 48px 0px $dropshadow_color;
}