$breakpoint-s : 500px !default;
$breakpoint-m : 800px !default;
$breakpoint-l : 1280px !default;
$breakpoint-xl : 1400px !default;


@mixin mq-small(){
  @media screen and (max-width: $breakpoint-s){
  @content;
  }
}

@mixin mq-biggerthansmall(){
  @media screen and (min-width: $breakpoint-s + 1){
  @content;
  }
}

@mixin mq-medium(){
  @media screen and (max-width: $breakpoint-m){
  @content;
  }
}

@mixin mq-biggerthanmedium(){
  @media screen and (min-width: $breakpoint-m + 1){
  @content;
  }
}

@mixin mq-large(){
  @media screen and (max-width: $breakpoint-l){
  @content;
  }
}

@mixin mq-biggerthanlarge(){
  @media screen and (min-width: $breakpoint-l + 1){
  @content;
  }
}

@mixin mq-xlarge(){
  @media screen and (max-width: $breakpoint-xl){
  @content;
  }
}

@mixin mq-biggerthanxlarge(){
  @media screen and (min-width: $breakpoint-xl + 1){
  @content;
  }
}


// custom break points

@mixin bp-custom($bp){
  @media screen and (max-width: $bp){
  @content;
  }
}

@mixin bp-biggerthancustom($bp){
  @media screen and (min-width: $bp+1){
  @content;
  }
}

