$base_unit:8px !default;

$theme-font-main: Akkurat, Helvetica;
$theme-font-main-fallback :  Arial, Sans-Serif;


$theme-font-main-alt: Helvetica,;
$theme-font-main-alt-fallback : Arial, Sans-Serif;


$theme-font-sub :  Georgia;
$theme-font-sub-fallback : Times, "Times New Roman", serif;


$bread-font : Roboto;
$bread-font-fallback : Helvetica, Arial, Sans-Serif;


$italic-font :  Georgia;
$italic-font-fallback : Times, "Times New Roman", serif;


$mono-font : Consolas;
$mono-font-fallback : Menlo, Monaco, Lucida Console, Liberation Mono, Courier New, monospace, serif;
