$background-color:#6c8c99;



$font-color:#475a60;
$font-color-inverted: #6c8c99;

$list-bg-color:#475a60;
$list-text-color:#ffffff;
$list-small-text-color:#6c8c99;



$selected-list-bg-color:#6c8c99;
$selected-list-text-color:#ffffff;

$fail-page-bg-color:#f72350;
$fail-list-bg-color:#cd264b;