@import "compass/css3";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
  list-style-type: none;
}

li {
  margin-bottom: 1px;
  padding: 8px;
}

.error {
  background-color: #FF667F;
}

.success {
  background-color: #3DFF7E;
}

.active {
  box-shadow: 2px 2px 2px #888888;
  margin-bottom: 10px;
  margin-top: 2px;
  margin-left: -8px;
}

.selected {
  background-color: cyan;
}
