ul.project-list > li > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.view:after, .view nav:after, .date-time:after {
  content: " ";
  display: block;
  clear: both;
  height: 0px;
  overflow: hidden; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.view {
  width: 100%;
  min-height: 100%;
  background-color: #574f55; }
  .view .hidden {
    display: none !important; }

html, body {
  height: 100%;
  min-height: 100%; }

body {
  margin: 0;
  padding: 0; }
  body * {
    box-sizing: border-box;
    transition: all 200ms; }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll; }
  .wrapper > * {
    float: left;
    display: inline-block; }

.loader {
  display: block;
  width: 32px;
  height: 32px;
  border: solid #ffffff 2px;
  border-bottom-color: transparent;
  border-radius: 50%;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.sec-2 {
  float: left;
  width: 50%;
  display: block;
  height: 100%;
  padding: 0 0 6vh 0;
  overflow: hidden; }

.sec-1 {
  float: left;
  width: 50%;
  display: block;
  height: 100%; }

script {
  display: none !important; }

ul.project-list > li > div h2, ul.project-list > li > div h3, ul.project-list > li > div h4 {
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif; }

ul.project-list > li > div h2 {
  font-size: 4vh;
  line-height: 1.1;
  margin-bottom: 0.3em; }

ul.project-list > li > div h3, ul.project-list > li > div h4 {
  line-height: 1.1;
  font-size: 2vh;
  margin-bottom: 0.4em; }

/*
%link-text{

}
*/
body {
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif; }

.view #dash_view {
  margin-top: 3vw; }

.view.failed:after {
  width: 0;
  height: 0;
  border-top: 14vw solid #f72350;
  border-right: 14vw solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }

.view .dash-projects {
  float: left;
  width: 100%;
  height: 100%; }

.view .dash-segment {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 2vw 0;
  height: 25%;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8); }

.view .dash-stat {
  display: inline-block;
  flex: 1;
  text-align: center; }
  .view .dash-stat h1 {
    font-size: 4em; }
  .view .dash-stat h3 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold; }

.view .l-date h1 {
  font-size: 6em; }

.view .l-date h3 {
  font-size: 3em; }

.view .l-date h4 {
  font-size: 2em; }

.view .dash-proj {
  display: flex; }

.view .dash-latest {
  display: flex; }
  .view .dash-latest .dash-stat {
    border-right: 0.2vw solid #333333; }
  .view .dash-latest .l-description {
    display: inline-block;
    flex: 4;
    font-size: 2vw;
    padding: 2vw 3vw;
    text-transform: uppercase;
    font-weight: normal; }

.view .count {
  display: flex;
  width: 90%;
  margin: auto; }
  .view .count > .dash-stat {
    border-left: 0.1vw solid #333333;
    border-right: 0.1vw solid #333333; }
    .view .count > .dash-stat:last-child {
      border-right: none; }
    .view .count > .dash-stat:first-child {
      border-left: none; }

.view .failer {
  position: absolute;
  width: 100%;
  margin-top: 4vw;
  text-align: center; }
  .view .failer > * {
    display: inline-block; }
  .view .failer .flag-l, .view .failer .flag-r {
    height: 4vw;
    width: 5vw; }
    .view .failer .flag-l > svg, .view .failer .flag-r > svg {
      fill: #ed677a; }
  .view .failer .flag-l {
    transform: translate(40%, 60%); }
  .view .failer .name {
    background-color: #ed677a;
    padding: 1vw;
    color: #ffffff;
    font-size: 1.5vw;
    text-transform: uppercase;
    border: 0.3vw solid #574f55;
    z-index: 4;
    position: relative; }
  .view .failer .flag-r {
    transform: translate(-40%, 60%); }

.view .logo-segment {
  height: 20%; }
  .view .logo-segment > .logo {
    margin: auto;
    background: center center no-repeat url("../images/logo.svg");
    width: 60%;
    height: 70%; }

ul.project-list {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2vh;
  padding-top: 2vh; }
  ul.project-list > li {
    width: 100%;
    height: 12vw;
    margin-bottom: 0.5vh;
    background-color: #574f55;
    position: relative; }
    ul.project-list > li > div {
      padding: 1% 4%; }
      ul.project-list > li > div h2 {
        color: #ffffff; }
      ul.project-list > li > div h3, ul.project-list > li > div h4 {
        color: #333333;
        text-transform: uppercase;
        letter-spacing: 0.08em; }
      ul.project-list > li > div img {
        height: 9vw;
        max-width: 250px;
        position: absolute;
        top: 2vw;
        right: 2vw; }
    ul.project-list > li.current {
      z-index: 100;
      background: #333333; }
      ul.project-list > li.current h3, ul.project-list > li.current h4 {
        color: #574f55; }

.fails ul.project-list > li {
  background-color: #574f55; }
  .fails ul.project-list > li > div h2 {
    color: #ffffff; }
  .fails ul.project-list > li > div h3, .fails ul.project-list > li > div h4 {
    color: #ffffff; }
  .fails ul.project-list > li.current {
    background: #f72350; }
    .fails ul.project-list > li.current h3, .fails ul.project-list > li.current h4 {
      color: #ffffff; }

.project ul.project-list > li {
  background-color: #574f55; }
  .project ul.project-list > li > div h2 {
    color: #ffffff; }
  .project ul.project-list > li > div h3, .project ul.project-list > li > div h4 {
    color: #333333; }
  .project ul.project-list > li.current {
    background: #333333; }
    .project ul.project-list > li.current h3, .project ul.project-list > li.current h4 {
      color: #574f55; }

#project_view header {
  position: absolute;
  top: 1vw;
  width: 50%;
  z-index: 1000;
  background-color: #574f55; }
  #project_view header .head-description {
    min-height: 6vw; }

#releases {
  position: relative; }
  #releases ul {
    margin-top: 7vw; }

.head-line {
  display: block;
  margin: 0 2em;
  height: 8.3%;
  text-align: center; }
  .head-line > h1 {
    color: rgba(255, 255, 255, 0.8);
    background: #333333;
    padding: 5px;
    display: inline-block;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
    .head-line > h1.line {
      background: center center repeat-x;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAMAAABFaP0WAAAAA1BMVEX///+nxBvIAAAACklEQVR4AWMAAwAABgABeV6XjwAAAABJRU5ErkJggg==); }
    .head-line > h1 > span {
      background-color: #574f55;
      padding: 0 1em;
      font-size: 0.8em; }

.head-description {
  border-bottom: rgba(255, 255, 255, 0.8) solid 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 4vh;
  padding: 1em;
  text-align: center;
  margin: 0 2rem 0 2rem; }

/* Spinners - BUBBLE */
.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

/* Spinner - CUBE */
.sk-folding-cube {
  margin: 0 auto;
  width: 10vw;
  height: 10vw;
  top: 40%;
  left: 68%;
  position: absolute;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

#joint {
  stroke-width: 2px;
  stroke: #ffffff;
  fill: #574f55; }

#face {
  fill: #ffffff; }

#hour, #min {
  stroke-width: 0px;
  fill: #ffffff; }

#sec {
  stroke: #ed677a;
  stroke-width: 1px; }

.date-time {
  width: 80%;
  height: 80%;
  margin: auto;
  padding-top: 5vw;
  padding-bottom: 0vw; }

.clock {
  width: 80%;
  display: block;
  height: 70%;
  margin-left: 10%;
  float: left;
  text-align: center; }
  .clock #clock {
    height: 100%;
    max-width: 80%;
    margin: auto; }

.date {
  height: 30%;
  float: left;
  color: #ffffff;
  width: 100%;
  font-size: 2vh;
  text-align: center;
  position: relative;
  font-size: 8vh;
  margin-top: 4vw; }
  .date > div {
    position: relative;
    top: 50%;
    margin-top: -0.5em; }
  .date .day {
    font-weight: bold;
    margin: 0 1vw;
    display: inline-block;
    vertical-align: middle;
    background-color: #333333;
    padding: 0.1em;
    color: rgba(255, 255, 255, 0.8); }
  .date .month {
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0 1vw;
    display: inline-block;
    vertical-align: middle; }
  .date .year {
    display: inline-block;
    text-align: right;
    font-size: 0.8em;
    line-height: 1em;
    margin: 0 1vw;
    font-weight: lighter;
    background-color: #333333;
    color: rgba(255, 255, 255, 0.8);
    vertical-align: middle;
    padding: 0 0.2em; }

.btn-container {
  width: 40%;
  min-width: 20vh;
  margin: 0 auto;
  margin-top: 8vw; }
  .btn-container > img path {
    fill: #ff0000; }
  .btn-container h2 {
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    font-size: 2em; }

body {
  padding: 0px; }

a {
  color: #00B7FF; }

ul {
  list-style: none;
  list-style-type: none;
  margin: 4px; }

li {
  margin-bottom: 1px;
  padding: 8px; }

.message-badge, .dev:after, .fail:after, .success:after, .in-progress:after {
  display: block;
  position: absolute;
  top: 0.7em;
  right: 0.7em;
  content: "";
  font-size: 2vh;
  color: #ffffff;
  min-width: 12%;
  text-align: center;
  padding: 0.2em;
  text-transform: uppercase; }

.message-badge {
  background-color: cyan; }

.dev:after {
  content: "fail";
  background-color: #f72350; }

.fail:after {
  content: "fail";
  background-color: #f72350; }

.success:after {
  content: "success";
  background-color: #67cb67; }

.in-progress:after {
  content: "in progress";
  background-color: #33CCFF; }
