.view{
  width: $wrapper-width;
  min-height: $screen-height;
  background-color: $background-color;
  @extend %clearafter;

  &.fails{
    background-color: $fail-page-bg-color;
  }

  &.project{
    background-color: $project-background-color;
  }

  nav{
    @extend %clearafter;
  }
}