.head-line{
  display: flex;
  flex: auto;
  margin: 1em 2em 0 2rem;
  flex-direction: row;
  font-size: 1em;
  >.line{
    flex: 2;
    border-top: #ffffff 1px solid;
    height: 1px;
    margin-top: 0.5em;
  }
  >h1{
    color: #ffffff;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.7em;
    flex: auto;
  }
}


.head-description{
  border-bottom: #ffffff solid 1px;
  color: #ffffff;
  font-size: $font-display-2-size;
  padding: 1em;
  text-align: center;
  margin: 0 2rem 0 2rem;



}