.view{

  #dash_view {
    margin-top: 3.5vw;
  }

  &.failed:after{
    width: 0;
    height: 0;
    border-top: 14vw solid $fail-color;
    border-right: 14vw solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .dash-projects{
    float: left;
    width: 100%;
    height: 100%;
  }
  .dash-segment{
    position: relative;
    width: 90%;
    margin: auto;
    padding: 2vw 0;
    height: 25%;
    font-size: 1rem;
    color:rgba(255,255,255,0.8);
  }
  .dash-stat{
    display: inline-block;
    flex:1;
    text-align: center;
    h1{
      font-size: 4em;
    }
    h3{
      font-size: 1.5em;
      text-transform: uppercase;
      font-weight: normal;
    }
  }

  .l-date {
    h1 {
      font-size: 6em;
    }
    h3 {
      font-size: 3em;
    }
    h4 {
      font-size: 2em;
    }
  }


  .dash-proj{
    display: flex;
  }

  .dash-latest {
    display: flex;

    .dash-stat{
      border-right: 0.2vw solid $dark;
    }

    .l-description{
      display: inline-block;
      flex: 4;
      font-size: 2vw;
      padding: 2vw 3vw;
      text-transform: uppercase;
      font-weight: normal;
    }

  }


.count{
  display: flex;
  width: 90%;
  margin: auto;
  >.dash-stat{
    border-left: 0.1vw solid $dark;
    border-right: 0.1vw solid $dark;
    &:last-child{
      border-right: none;
    }
    &:first-child{
      border-left: none;
    }
  }
}








.dash-latest{

}

.failer{

  position: absolute;
  width: 100%;
  margin-top: 4vw;
  text-align: center;

  >*{
    display: inline-block;
  }

  %flag{
    height: 4vw;
    width: 5vw;

    > svg {
      fill: $theme2;
    }
  }

  .flag-l {
    @extend %flag;
    transform: translate(40%, 60%);

  }

  .name{
    background-color: $theme2;
    padding: 1vw;
    color: $dark;
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    border: 0.3vw solid $theme;
    z-index: 4;
    position: relative;


  }
  .flag-r{
    @extend %flag;
    transform: translate(-40%, 60%);
  }

}

  .logo-segment{
    height: 20%;
    >.logo{
      margin: auto;
      background: center center no-repeat url("../images/logo.svg");
      width: 60%;
      height: 70%;
    }
  }

}
